.mainBody {
    position: relative;
    margin: auto;
    padding: 0;
    overflow-y: hidden;
    height: 100vh;
}

.mainCenter {
    overflow-x: hidden;
    height: 100%;
    overflow-y: hidden;
}

.smartGrid {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    text-align: center;
    overflow-y: scroll;
    height: 78%;
}

